@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Signika;

}

@keyframes harry1 {
    from {
        left: -501px;
    }

    to {
        left: 0px;
    }
}

@keyframes harry2 {
    from {
        left: 0px;

    }

    to {
        left: -1000px;
    }
}

@keyframes harry3 {
    from {
        top: 0px;
    }

    to {
        top: -56px;
    }
}


header .ad {
    position: sticky;
    height: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #519bfe;
    color: white;
}

.ad a img {
    height: 35px;
}

.ad .cross2 {
    font-size: 25px;
    width: 8%;
    cursor: pointer;
    color: white;
    text-align: center;
}

.hide {
    display: none;
}

header .ad h3 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
}

header .ad {
    position: relative;

}

header .ad a {
    background-color: transparent;
    /* margin-left: 16px; */
    display: flex;
    align-items: center;
    height: 37px;
    justify-content: center;
    width: 75px;


}

.ad h3 {
    font-size: 1rem;
}

.ad .cross2:hover {
    color: rgb(155, 155, 155);
}

.ad a img:hover {
    height: 30px;
}


.navbarScroll li {
    height: 34px;
    list-style: none;
    text-align: left;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


.navbarScroll .whole3 {
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbarScroll a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarPermanent .whole3 {
    display: flex;
    width: 150px;
    height: 100%;
}

.navbarPermanent .whole3 a {
    height: 100%;
    padding: 6px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.whole3 {
    /* height: 100%; */
    display: flex;
    width: 136px;


}

.whole3 a {
    height: 100%;
    padding: 6px;
    display: flex;
}

.whole3 a img:hover {
    height: 33px;
    transition: .1s;
}

.logoP {
    display: flex;
    /* background-image: url("logo.png"); */
}

.logoP img {
    height: 104px;
}

.whole3 img {
    height: 35px;
}

header {
    width: 100vw;
    height: auto;
}

.navbarScroll h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: Signika;


}

.navbarScroll {
    min-width: 100vw;
    position: sticky;
    max-width: auto;
    height: 100vh;
    background-color: rgb(60, 106, 159);
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: width 0.5s ease-in-out;

}

.navbarScroll a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.navbarScroll li {
    height: 34px;
    list-style: none;
    text-align: left;
    width: 100%;
}

.navbarScroll a:hover {
    color: rgb(199, 197, 197);
}

.searchbtn {
    background-color: transparent;
    font-size: 19px;
    color: white;
    border: none;
    margin-left: 12px;
    transition: .5s;
    cursor: pointer;
}

.search {
    height: 32px;
    width: 89px;
    padding-left: 12px;
    transition: .5s;
}

.items {
    display: flex;
    flex-direction: column;
    height: 47vh;
    justify-content: space-evenly;
}

.hide {
    display: none;
}

.navbarScroll ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 135px;
}

.logo {
    display: flex;
}

.logo .cross {
    margin-left: 184px;
}

.cross {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.cross i:hover,
.searchbtn i:hover {
    color: rgb(171, 171, 171);

    /* color: #5F7FFF; */
}

.navbarPermanent {
    height: 100px;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbarPermanent ul {
    display: flex;
}

.navbarPermanent li a {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

.navbarPermanent li a:hover {
    color: rgb(135, 135, 135);
    text-decoration: none;
    font-weight: bold;

}

.navbarPermanent li {
    list-style-type: none;
}

.searchbtn2 {
    color: black;
    background-color: transparent;
    font-size: 19px;
    /* color: white; */
    border: none;
    margin-left: 12px;
    transition: .5s;
    cursor: pointer;
}

.navbarPermanent ul {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
}

.open {
    height: 31px;
    width: 34px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

/* ......................................main.............................. */
/* ........................................................................... */
main {
    display: flex;
    min-height: auto;
    flex-direction: column;
    align-items: center;

}

main .welcome {

    font-size: 14px;
    width: 90%;
    flex-direction: column;
    display: flex;
    height: 66vh;
    padding-top: 40px;
    min-height: 80vh;
}



.welcome h1 {
    /* height: 200px;
     */
     margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.welcome h1 .sec2 {
    color: #519bfe;
}

.welcome .paragraph {
    width: 100%;
    text-align: justify;
    line-height: 26px;
    font-weight: 600;
    font-size: 14px;
}

.welcome .paragraph p {
    width: 81%;
    font-size: 15px;
    font-weight: 700;
    margin-top: 21px ;

}

.typed-cursor {
    color: #519bfe;
}
.welcome  #explore{
    float: right;
    width: 87px;
    height: 28px;
    font-weight: bold;
    color: white;
    background: #519bfe;
    border: 0px;
    border-radius: 5px;
/* margin-top: 38px; */
    cursor: pointer;

}
.welcome #explore button{
    
    width: 87px;
    height: 28px;
    font-weight: bold;
    color: white;
    background: #519bfe;
    border: 0px;
    border-radius: 5px;
/* margin-top: 38px; */
    cursor: pointer;
    transition: .5s;

}

.welcome #explore button:hover{
    background-color: #3b8cf5;
}
.welcome .icons{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 48px;
    margin-top: 20px 
}
.welcome .icon{
    color: black;
}
.welcome .icon:hover{
    color: #6788f1;
}

.welcome{
    background-image: url("assets/images/welcome.png"); 
    
}
main .firstSection{
    width: 100%;
    background-color: #efefef;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
main .firstSection h1{
    margin-bottom: 10px;
    text-decoration: underline;
}
main .firstSection p{
    width: 70%;
    text-align: justify;
}
main .firstSection .content{
    width: 90%;
}
main .firstSection .boxes{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
main .content h3{
    text-decoration: underline;
}
main .content .education{
    margin: 21px 0px;
}
main .boxes .box{
    width: 25%;
    padding: 21px 0;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .boxes .box img{
    height: 90%
}
main .jagas{
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0;
    /* justify-content: space-evenly; */
   
}
main .jagas a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
main .jaga{
    margin: 15px 20px;
    height: 154px;
    background-color: #fafafa;
    display: flex;
    width: 40%;
    align-items: center;
    border-radius: 8px;
    box-shadow: 1px 0px 11px -4px;
}
main .jaga img{
    height: 100%;
}
main .jaga h3{
    text-decoration: none;
}

@media (max-width:769px) {
    main .welcome {
        font-size: 10px;

    }

    .welcome .paragraph p {
        width: 81%;
        font-size: 12px;
    }

    .navbarPermanent ul {
        display: none;
    }

    .whole2 {
        display: none;
    }

    .open {
        height: 31px;
        width: 34px;
        font-size: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline-block;
    }

    .open i:hover {
        color: rgb(116, 116, 116);
    }

    .navbarPermanent {
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width:520px) {
    main .welcome {
        font-size: 10px;
    }
       


    .ad h3 {
        font-size: 13px;
    }

    .ad img {
        height: 30px;
    }
}


@media (max-width:984px) {
    .navbarPermanent ul {
        width: 45%;
    }
}

@media (max-width:411px) {
    .welcome h1 {
        font-size: 3.5vw;
    }

    .welcome .paragraph p {
        width: 81%;
        font-size: 12px;
    }

}

footer {
    background-color: #191C25;
    width: 100%;
    color: white;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

footer .logo {
    display: flex;
    align-items: center;
}

footer .first {
    width: 95%;
    display: flex;
    align-items: center;
    height: 66px;
    justify-content: space-between;
}

footer .first .logo img {
    width: 12%;
}

footer .first .name {
    font-family: Poppins;
    font-size: 12px;
}

footer .first .name h2 {
    font-family: Poppins;
}

footer .list ul li {
    list-style: none;

}

footer ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

footer .list {
    width: 35%;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    color: #519bfe;
}

footer .pre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 151px;
}

.hr {
    width: 100%;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr hr {
    width: 90%;
    color: white;

}

footer .second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 119px;
}

footer .second a {
    color: white;
}

footer .second a:hover {
    color: rgb(66, 66, 241);
}

footer .icon:hover {
    cursor: pointer;
    color: rgb(98, 98, 98);
}

footer .icons {
    display: flex;
    width: 33.33%;

    justify-content: center;

}


footer .one {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33.33%;
}

footer .two {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 33.33%;
}

.ic {
    width: 25px;
}

@media (max-width:800px) {
    main .firstSection p {
        width: 100%;
        text-align: justify;
    }
    footer .first .name h2 {
        font-family: Poppins;
        font-size: 12px;
    }

    footer .list {
        width: 35%;
        font-size: 11px;
    }

    footer .list {
        width: 50%;
        font-size: 11px;
    }
    footer .second {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 119px;
        width: 100%;
        height: 40vh;
    }
    footer .one {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    footer .two{
        width: 100%;
    }
    footer .icons{
        width: 100%;
    }
}